
.digit {
    font-size: 2rem;
    height: 3rem;
    width: 2.7rem;
    border: 1px solid black;
    border-radius: 0.356rem;
    text-align: center;
    background-color: #242424;
    color: white;
};

.digitContainer {
    display: flex;
    gap: 1rem ;
    justify-content: center;
    align-items: center;
};




